.setting .ant-form-item {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}


.setting .itemTitle {
    font-size: 14pt;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.setting .ant-divider {
    margin: 10px 0px;
}

.setting .ant-collapse-header-text {
    font-size: large;
}

.setting .ant-switch {
    float: right;
}