.setting .ant-form-item {
    margin: 10px 0px 0px 50px
}


.setting .itemTitle {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 5px;
}

.setting .ant-divider {
    margin: 10px 0px;
}

.setting .ant-collapse-header-text {
    font-size: 13pt;
    font-weight: bold;
}

.setting .ant-switch {
    float: right;
}