.invoiceWrapper {
    position: relative;
}

.invoiceWrapper::before {
    content: "";
    display: block;
}

.invoiceContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid lightgray
}


.previewTable,
.previewTable th,
.previewTable td {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: normal;
}

.previewTable th {
    padding-top: 2px;
    padding-bottom: 2px;
}

.previewTable td {
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}