.plainTable,
.plainTh,
.plainTd {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: normal;
}

.plainTh {
    padding-top: 2px;
    padding-bottom: 2px;
}

.plainTd {
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

.ftnote {
    line-height: 60%;
    font-size: 9pt;
    text-align: left;
}

.compactInput {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
}

.invoiceWrapper {
    position: relative;
}

.invoiceWrapper::before {
    content: "";
    display: block;
    padding-bottom: 64%;
}

.invoiceContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexHCenter {
    display: flex;
    align-items: center;
}
.flexVCenter {
    display: flex;
    justify-content: center;
}

.spanButton {
    cursor: pointer;
    /* box-sizing: border-box; */
    /* border: 1px solid gray; */
    /* border-radius: 3px; */
    border-radius: 3px;
    outline: 0.8px solid gray;
    padding-left: 1px;
    padding-right: 1px;
}

.spanButton:hover {
    /* background-color: #0069d9; */
    color: #1890ff;
    outline-color:  #1890ff;
}

.spanButton:active {
    color: #005cbf;
    outline-color:  #005cbf;
}

.spanButton.disabled {
    background-color: #ced4da;
    color: gray;
    outline-color:  gray;
    cursor: not-allowed;
}

.plainTable tbody tr td:nth-child(5) .ant-select-selection-item {
    padding: 0px !important;
}

.plainTable tbody tr td:nth-child(5) .ant-select-arrow {
    display: none !important;
}

.plainTable tbody tr td:nth-child(5) .ant-select {
    padding: 0px !important;
}

.plainTable tbody tr td:nth-child(5) .ant-select-selector {
    padding-left: 10px !important;
    padding-right: 10px !important;
}