.draftTable table { 
    font-size: 12px
}

.draftTable button { 
    font-size: 12px !important;
}

.draftTable tbody td {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}



/* .editTable table {
    font-size: 12px
}

.editTable input {
    font-size: 12px !important;
} */

.editTable tbody tr:not(.ant-table-measure-row) td {
    padding: 2px !important;
}


/* select */
/* dropdown options */
/* #unitInput_list ~ .rc-virtual-list .ant-select-item-option-content {
    font-size: 12px;
} */
/* #unitInput_list ~  */
.rc-virtual-list .ant-select-item {
    padding-left: 2px !important;
    padding-right: 2px !important;
    text-align: center;
}

.editTable .ant-select-selector {
    /* font-size: 12px; */
    border-radius: 4px;
}

.editTable .ant-select-selection-item {
    padding: 0px !important;
    /* font-size: 12px; */
}

.editTable .ant-select-arrow {
    display: none 
}

.editTable .ant-form-item {
    margin: 0;
}

.editTable .ant-input-number-group-addon {
    padding: 0px 3px;
}



.invoiceWrapper {
    position: relative;
}

.invoiceWrapper::before {
    content: "";
    display: block;
}

.invoiceContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid lightgray
}



.previewTable,
.previewTable th,
.previewTable td {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: normal;
}

.previewTable th {
    padding-top: 2px;
    padding-bottom: 2px;
}

.previewTable td {
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}