.previewTable,
.previewTable th,
.previewTable td {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: normal;
}

.previewTable th {
    padding-top: 2px;
    padding-bottom: 2px;
}

.previewTable td {
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}
