body {
    margin: 0;
}


.toolBar-true {
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 5px 0.5px gray;
}

.toolBar-false {
    padding: 15px;
    width: 100%;
}

.pageMainContent {
    padding: 0 15px;
}